################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages/*
/OpenXmlFactory/bin/Debug/DocumentFormat.OpenXml.xml
/OpenXmlFactory/bin/Debug/DocumentFormat.OpenXml.dll
*.user
/OpenXmlFactory/bin/Release/DocumentFormat.OpenXml.xml
/OpenXmlFactory/bin/Release/DocumentFormat.OpenXml.dll
