################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages/*
*.user
DocumentFormat.OpenXml.xml
DocumentFormat.OpenXml.dll
*.DS_Store
*.pdb
Debug/
Release/
obj/
.vs/
